* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

:root {
    --body-bg-color: #121214;
    --text-color: #E1E1E6;
    --title-color: #04D361;
    --form-color: #A8A8A8;
    --bg-button-color: #8257e5;
}

body {
    background-color: var(--body-bg-color);
    display: flex;
}

div.content {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
}


div.bg {
    display: flex;
    justify-content: right;
    flex: 1;
}

img.bgimg {
    height: 100vh;
}

h1 {
    display: flex;
    justify-content: center;
}

img.logo {
    width: 398px;
    margin-top: 50px;
}

.text {
    margin-left: 100px;
    margin-top: 92px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 7.75rem;
}

h2 {
    color: var(--title-color);
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 26px;
    line-height: 28.15px;
}


h3 {
    line-height: 15.68px;
    font-size: 18px;
    color: var(--text-color);
    font-family: 'League Spartan';
}

p {
    font-weight: 400;
    line-height: 19.42px;
    font-size: 18px;
    color: var(--text-color);
    font-family: 'League Spartan';

}

form {
    margin-left: 100px;
    margin-top: 50px;
}

fieldset {
    border: none;
}

legend {
    color:#A8A8A8;
    font-size: 18px;
    line-height: 138.73%;
    font-family: 'League Spartan';
    margin-bottom: 17px;
}

div.input {
    display: flex;
    height: 48px;
}


input {
    border: none;
    max-width: 798px;
    background: #fff;
    width: 500px;
    border-left: var(--title-color) 5px solid;
    padding-left: 15px;
}

::placeholder {
    font-family: 'Work Sans', sans-serif;
}

button {
    background-color: var(--bg-button-color);
    border: none;
    width: 48px;
    transition: 200ms;
}

button:hover {
    background-color: #6b38e0;
}

a {
    text-decoration: none;
    color: var(--bg-button-color);
    display: flex;
    margin-top: 50px;
    align-items: center;
    justify-items: space-around;
}